<div class="container-fluid">
<div class="wrapper">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Inbox
        <small><%= @mail.length%> messages sent</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="row">
        <div class="col-md-3">
          <a href="/new" class="btn btn-primary btn-block margin-bottom">Gửi tin nhắn</a>
          <%=render "shared/sidebar" %>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Inbox</h3>

              <div class="box-tools pull-right">
                <div class="has-feedback">

                </div>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <div class="btn-group">
                </div>
                <!-- /.btn-group -->
                <div class="pull-right">

                </div>
                <!-- /.pull-right -->
              </div>
              <div class="table-responsive mailbox-messages">

                <table class="table table-hover table-striped">

                  <tbody>
                  <%@mail.each do |ml|%>
                  <tr>
                    <%if ml.isRead%>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                  <%elsif%>
                    <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                    <%end%>
                    <td class="mailbox-name"><a>Người gửi: <%= ml.fullname %></a></td>
                    <td class="mailbox-subject"><b><%= truncate(ml.title, length: 20) %></b></td>
                    <td class="mailbox-attachment">
                        <b>Đã đọc:    <%= time_ago_in_words(ml.updated_at)%></b>
                    </td>
                    <td class="mailbox-date">
                    Đã gửi:
                    <time datetime="{{ created_at }}" pubdate>
                      <%= time_ago_in_words(ml.created_at)%>
                  </time>
                  </td>

                  <td><%= link_to "ReadMail", controller: "mail", action: "read", id: ml %></td>
                  </tr>

                  <%end%>
                  </tbody>

                </table>

                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <div class="btn-group">
                </div>
                <!-- /.btn-group -->
                <div class="pull-right">

                </div>
                <!-- /.pull-right -->
              </div>
            </div>
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">


  </footer>

  <!-- Control Sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

</div>
