
<div class="wthree-dot" style="margin-top: 2%;">
<h1 style="color: #23527c;">Đăng ký</h1>
<div class="profile">
    <div class="wrap">
        <div class="content-main">
            <div class="w3ls-subscribe w3ls-subscribe1">
            <%= form_with scope: :user, local: true do |f|%>
                
  
                    <%= f.email_field :email , placeholder:"Nhập thông tin email" , required: "required"%>
                
        
                    <%= f.text_field :fullname , placeholder:"Nhập họ và tên" , required: "required"%>

        
                
                    <%= f.password_field :password , placeholder:"Nhập mật khẩu" , required: "required"%>
                

                    <%= f.password_field :password_confirmation, placeholder:"Xác nhận mật khẩu" , required: "required" %>



                    <input type="submit" class="btn btn-success btn-lg"  value="Đăng ký">
                    <% end %>
                    <br />
                    <% if @user.errors.any? %>
                    <div class="alert alert-danger">
                        
                            <% @user.errors.full_messages.each do |message| %>
                            <p><%= message %></p>
                            <% end %>
                    <% end %>

            </div>
        </div>
        <div class="wthree_footer_copy">
                <a href="/login" ><i class="fa fa-sign-in fa-fw"></i> <span class="network-name">Nếu có tài khoản, đăng nhập ngay !!!</span></a>
        </div>
    </div>
</div>
</div>
