<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini Email Box | Lab02 - 1412579 - 1412564 | Ứng dụng phân tán - HATU - 2017</title>
    <link rel="shortcut icon" href="/images/mm.ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/1.0.0/css/dataTables.responsive.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <%=render "shared/navigation" %>


    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        
        $(".select2").select2({
            multiple: true,
        });

        var dt = $('#newfr');
        if(dt){
            $('#newfr').DataTable();
        }

        $('div.alert').delay(5000).slideUp();

        $('.textarea').wysihtml5();

        $("#newfr").on("click", ".add-friend",function(){
            var ele = $(this).parent();
            var id = ele.parent().find("#user_id").html();
            var url = '/new-friend/' + id; 
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data:{id:id},
                success: function (data){
                    if(data){
                        if(data.status == 1){
                            
                            ele.empty();
                            ele.html('<a href="javascript:" class="btn btn-danger btn-xs del-friend">Huỷ bạn</a>  <a href="javascript:" class="btn btn-danger btn-xs del-friend">Block</a>');
                            
                        }
                        else{
                            alert("Thêm bạn thất bại!");
                        }
                    }
                 }
            });
        });

        $("#newfr").on("click", ".del-friend",function(){
            var ele = $(this).parent();
            var id = ele.parent().find("#user_id").html();
            var url = '/del-friend/' + id; 
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data:{id:id},
                success: function (data){
                    if(data){
                        if(data.status == 1){
                            
                            ele.empty();
                            ele.html('<a href="javascript:" class="btn btn-success btn-xs add-friend">Thêm bạn</a>');
                            
                        }
                        else{
                            alert("Huỷ kết bạn thất bại!");
                        }
                    }
                 }
            });
        });

        $("#newfr").on("click", ".ban",function(){
            var ele = $(this).parent();
            var id = ele.parent().find("#user_id").html();
            var url = '/ban/' + id; 
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data:{id:id},
                success: function (data){
                    if(data){
                        if(data.status == 1){
                            
                            ele.parent().empty();
                            alert("Block người dùng thành công!")
                            
                        }
                        else{
                            alert("Block người dùng thất bại!");
                        }
                    }
                 }
            });
        });

        $("#newfr").on("click", ".unban",function(){
            var ele = $(this).parent();
            var id = ele.parent().find("#user_id").html();
            var url = '/unban/' + id; 
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                data:{id:id},
                success: function (data){
                    if(data){
                        if(data.status == 1){
                            
                            ele.parent().empty();
                            alert("Xoá người dùng khỏi danh sách block thành công!")
                            
                        }
                        else{
                            alert("Xoá người dùng khỏi danh sách block thất bại!")
                        }
                    }
                 }
            });
        });
    
        $("#loadmore").on('click',function(){
            var url = 'http://lab02-579-564.herokuapp.com/api-mailbox'; 
            var id = '{{user.id}}';
            //alert(id);
            var page = $("#currentPage").val();
            page = parseInt(page) + 1;
            $("#currentPage").val(page);
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data:{id:id,page:page},
                success: function (data){
                    if(data){
                        var jsonObj = $.parseJSON(data);
                        $('#emptyMailbox').empty();
                        $.each(jsonObj, function(index,val){
                            var read = val.read == 1 ? '<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>' : '<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>';
                            var STT = parseInt(index) + 1;
                            var append = '<tr><td>'+ STT +'</td>' + read + '<td class="mailbox-name"><a href="/read/'+ val.id +'">Người gửi: '+val.fullname+'</a></td> <td class="mailbox-subject"><b>'+val.title+'</b></td> <td class="mailbox-date">Đã nhận <time datetime="'+ val.created_at +'" pubdate> '+ val.created_at +' </time></td> </tr>';
                            $('#emptyMailbox').append(append);
                            $(".alert-loadmore").show();
                            setTimeout(function() { $(".alert-loadmore").slideUp(); }, 3000);
                        });
                        $('time').each(function(i, e) {
                            var time = moment($(e).attr('datetime'));
    
                            if(now.diff(time, 'days') <= 1) {
                                $(e).html('<span>' + time.from(now) + '</span>');
                            }
                        });
                    }
                    else alert('Xem thêm không thành công!');
                 }
            });
        });
    
    });
    </script>
    </script>
    
    </body>
    
    </html>